$content-size : 14px;
$sans-serif:    helvetica, arial, sans-serif;
$grey_border_color: #E7E7E7;
$white: #FFF;
$white1: #f0f0f0;
$grey_border: #DDDDDD;
$grey_background: #f0f0f0;
$orange1: #B23C02;
$orange2: #6a1b00;
$orange3: #852201;
$brown1:#791f00;
$brown2:#600000;
$red:#ff3333;

